name: Package installation tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        laravel:
          - "^9.0"
          - "^10.0"
          - "^11.0"
          - "^12.0"
        exclude:
          - php: "8.1"
            laravel: "^11.0"
          - php: "8.1"
            laravel: "^12.0"

    name: PHP:${{ matrix.php }} / Laravel:${{ matrix.laravel }}

    steps:
      - name: Setup PHP, with composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - run: composer create-project laravel/laravel:${{ matrix.laravel }} ./
      - run: composer require kentaroutakeda/laravel-openapi-validator --no-interaction --no-progress --ansi
      - run: vendor/bin/phpunit
